<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
<!-- START: header -->

<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
    <%- include('partials/header'); %>
</header>
<!-- END: header -->

<div class="container" style="width: 100%;">
    <div class="home-dashboard row align-items-center justify-content-center">
        <!-- START  LANDING PAGE-->
        <!-- col-md-offset-3 class that will offset by 3 columns, given that Bootstrap has a 12-column grid this will put a col-md-6 element right in the center. -->
        <div class="title col-12 title-global-container">
            <h3 class="title-global">Bienvenido a Agoratrax</h3>
        </div>
        <%- include('partials/notificationbar'); %>
        <% if(user.role === roles.Farmer || admin_status){ %>
            <div class="row">
                <h4 style="margin-left: 30px;">SEGUIMIENTO Y LOCALIZACIÓN</h4>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card" style="margin: 30px;">
                        <div class="card-header">
                            <p class="card-title h4"><i class="fa fa-list-alt"></i> <a href="/app/harvest">Registro de cosecha
                            </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card" style="margin: 30px;">
                        <div class="card-header">
                            <p class="card-title h4"><i class="fa fa-list-alt"></i> <a href="/app/storage">Registro de Registro de Entrega</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card" style="margin: 30px;">
                        <div class="card-header">
                            <p class="card-title h4"><i class="fa fa-search"></i> <a href="/app/trace_produce">Rastrear Productos</a></p>
                        </div>
                    </div>
                </div>
            </div>
                <%- include('partials/notificationbar'); %>
                <div class="row">
                    <h4 style="margin-left: 30px;">Trazabilidad</h4>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-list-alt"></i> <a href="/app/harvest">Registro de Cosecha</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-list-alt"></i> <a href="/app/storage">Registro de Entrega</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-search"></i> <a href="/app/trace_produce">Rastrear Productos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 style="margin-left: 30px;">Mercado Mayorista</h4>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-book"></i> <a href="/app/buyer">Registro de Compradores</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-book"></i> <a href="/app/seller">Registro de Vendedores</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-archive"></i> <a href="/app/order">Panel de Pedidos</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-briefcase"></i> <a href="/app/order/myorders">Mis Ordenes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-list"></i> <a href="/app/produce">Lista de Productos</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-tags"></i> <a href="/app/produce/pricepage">Precios de Productos</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-download"></i> <a href="/app/produce/pricepage/pdf">Descarga de Precios de Producto PDF</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 style="margin-left: 30px;">Informes y Panel de Control</h4>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-qrcode"></i> <a href="/app/qrcode">Análisis de códigos QR</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-archive"></i> <a href="/app/order">Panel de Pedidos</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-table"></i> <a href="/app/dashboards/admin">Panel de Administracion</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card" style="margin: 30px;">
                            <div class="card-header">
                                <p class="card-title h4"><i class="fa fa-table"></i> <a href="/app/dashboard/farmer">Panel del Agricultor</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% if(admin_status){ %>
                    <div class="row">
                        <h4 style="margin-left: 30px;">Configuración</h4>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="card" style="margin: 30px;" ">
          <div class="card-header ">
            <p class="card-title h4 "><i class="fa fa-qrcode "></i> <a href="/app/qrcode ">Códigos QR - Estáticos</a></p>
          </div>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
      <div class="card " style="margin: 30px; ">
        <div class="card-header ">
          <p class="card-title h4 "><i class="fa fa-qrcode "></i> <a href="/app/qrcode/supplierproduce ">Códigos QR - Proveedor</a></p>
        </div>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
    <div class="card " style="margin: 30px; ">
      <div class="card-header ">
        <p class="card-title h4 "><i class="fa fa-play "></i> <a href="https://www.foodprintapp.com/img/demo_qrcode.png " target="_blank ">Demo FoodPrint Farm - Beetroot QR Code</a></p>
      </div>
  </div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-users "></i> <a href="/app/blockchain_explorer ">Explorador de Blockchain</a></p>
    </div>
</div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-check "></i> <a href="/app/test_config ">Testing UI</a></p>
    </div>
</div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-list "></i> <a href="/app/produce ">Lista de Productos</a></p>
    </div>
</div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-tags "></i> <a href="/app/produce/pricepage ">Precios de Productos</a></p>
    </div>
</div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-envelope "></i> <a href="/app/email ">Registros de correo electrónico</a></p>
    </div>
</div>
</div>
  </div>
  <%} else {%>
              
    <% } %>
  <div class="row ">
    <h4 style="margin-left: 30px; ">Soporte</h4>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
      <div class="card " style="margin: 30px ">
        <div class="card-header ">
          <p class="card-title h4 "><i class="fa fa-newspaper "></i> <a href="https://knowledge.foodprintlabs.com " target="_blank " >
Base de Conocimientos</a></p>
        </div>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
    <div class="card " style="margin: 30px; ">
      <div class="card-header ">
        <p class="card-title h4 "><i class="fa fa-info-circle "></i> <a href="mailto:support@foodprintlabs.com ">Soporte de Agoratrax</a></p>
      </div>
  </div>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
  <div class="card " style="margin: 30px; ">
    <div class="card-header ">
      <p class="card-title h4 "><i class="fa fa-share "></i> <a target="_blank " href="https://agoratrax.farm/ ">Pagina Web Agoratrax</a></p>
    </div>
</div>
</div>
</div>
<div class="row ">
  <h4 style="margin-left: 30px; ">Other</h4>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
    <div class="card " style="margin: 30px ">
      <div class="card-header ">
        <p class="card-title h4 "><i class="fa fa-user "></i> <a href="/app/harvest ">Descarga de Precios de Producto PDFAlvaro</a></p>
      </div>
  </div>
</div>
</div>


<!-- start footer -->
<%- include('partials/footer'); %>
<!-- end footer -->

<div class="gototop js-top ">
    <a href="# " class="js-gotop "><i class="icon-chevron-thin-up "></i></a>
</div>

<script src="js/scripts.min.js "></script>
<script src="js/main.min.js "></script>
<script src="js/custom.js "></script>

</body>
</html>
